extends layout

block content
  h3 About
  p
  | I'm Adrian Kuper and my blog about programming will start here soon™.
  h3 Contact
  ul
    li <b>Email:</b> adrian.kuper@hotmail.de
    li <b>GitHub:</b> https://github.com/kuper-adrian