extends layout

block content
  h3 About
  p
  | Hi! 
  |
  | I'm Adrian Kuper, a software dev from Germany, and after finishing the website, 
  | I will start blogging about programming and software development here soon.
  h3 Contact
  ul
    li <b>Email:</b> adrian.kuper@hotmail.de
    li <b>GitHub:</b> https://github.com/kuper-adrian