extends layout

block content
  h3 Impressum (Legal notice required by german law)
  p
  | Adrian Kuper <br/>
  | Berliner Platz 39 <br/>
  | 48143 Münster <br />
  | Germany <br /><br />
  | adrian.kuper@hotmail.de
  h3 Privacy
  p No personal data is collected by visiting this site.