extends layout

block content
  div <span class="color-green">// TODO</span>
  div <span class="color-dark-blue">const</span> <span class="color-grey">site</span> = { <span class="color-light-blue">loglevel:</span> <span class="color-mud">"blog"</span> };
