extends layout

block content
  pre
    |<span class="line-number">1</span><span class="line"><span class="color-green">// TODO</span></span>
    |<span class="line-number">2</span><span class="line"><span class="color-dark-blue">const</span> <span class="color-grey">site</span> = { <span class="color-light-blue">loglevel:</span> <span class="color-mud">"blog"</span> };</span>
  