doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="content")
      block content
    div(class="footer")
      <a href="about">About</a> <a href="impressum">Impressum (Legal Notice)</a>
