body {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  background-color: black;
  padding: 0px 50px;
  font-family: 'Courier New', Courier, monospace
}

.line-number {
  font-size: 16px;
  padding-right: 5px;
  padding-left: 15px;
  background-color: #3f3f3f;
}

.line {
  font-size: 16px;
  padding-left: 15px;
}

.content {
  padding: 25px 0px;
}

.footer {
  width: 100%;
  background-color: #6e6d86;
}

.footer > a {
  padding: 5px;
  color: black;
  text-decoration: none;
}

.footer > a:hover {
  color: white;
}

.color-green {
  color: forestgreen;
}

.color-grey {
  color: grey;
}

.color-light-blue {
  color: lightskyblue;
}

.color-dark-blue {
  color: royalblue;
}

.color-mud {
  color: chocolate;
}